@model Student

<h2>Добавить ученика</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="FullName" class="form-label">Введите ФИО ученика</label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="Class" class="form-label">Класс ученика</label>
        <input asp-for="Class" class="form-control" type="number" min="1" max="11" />
        <span asp-validation-for="Class" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="Email" class="form-label">Введите личную почту</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="Phone" class="form-label">Введите номер телефона ученика</label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="AdditionalInfo" class="form-label">Введите основную информацию о ученике(проблемные темы)</label>
        <textarea asp-for="AdditionalInfo" class="form-control" rows="3"></textarea>
    </div>

    <div class="form-group mt-4">
        <button type="submit" class="btn btn-primary">Добавить</button>
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </div>
</form>